@{
    ViewData["Title"] = "Soccer";
}

<div class="text-center">
    <h1 class="display-4">My Hobby: Soccer</h1>
    <h4>A site dedicated to the beautiful game that is football (soccer)</h4>
</div>
<div class="row">
    <div class="column1">
        <img src="~/Messi-Soccer.jpeg" alt="Lionel Messi with the world cup trophy" width="100%" />
    </div>
    <div class="column2">
        <img src="~/SethSoccer.jpeg" alt="Seth Brock in his High School uniform" width="100%" />
    </div>
</div>