@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">My Hobby: Soccer</h1>
    <h4>A site dedicated to the beautiful game that is football (soccer)</h4>
</div>
<div class="row">
    <div class="column1">
        <img src="~/Messi-Soccer.jpeg" alt="Lionel Messi with the world cup trophy" width="100%" />
    </div>
    <div class="column2">
        <img src="~/SethSoccer.jpeg" alt="Seth Brock in his High School uniform" width="100%" />
    </div>
</div>
<br />
<p>
    Football, or soccer as we will refer to it here, is the most popular game in the world, and
    it's not even very close. You may have never played soccer in your life and yet there's a
    good chance that you know that the person in the picture on the left is Lionel Messi, someone 
    who is considered by many to be the best soccer player of all time. Soccer as we know it today 
    was created in England in 1863, though some sources say it's been around for over 2000 years! 
    The earliest versions of soccer balls were made from buckskin or pig bladdars, from vulcanized 
    rubber in the 1800s, and nowadays are made from a variety of matierials from synthetic leather 
    to polyurethane.
</p>
<p>
    My name is Seth and I have played soccer since about 2006. Soccer has always been a way for
    me to express myself, grow my talents, decompress, and stay active&mdash;not to mention just 
    have a ton of fun. I've played soccer on a variety of clubs in the United States and England,
    for varsity teams in high school, and now I continue to stay involved with community league 
    play. I've played just about every position on the field from left back to striker and value
    versatility in play. As long as I stay healthy you will see me playing the beautiful game.
</p>